body{
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
}
.box{
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 20%;
    margin: 2.5rem;
    
   
}
.pink{
    background-color: pink;
}

.blue{
    background-color:blue ;
}

.violet{
    background-color: violet;
}

.orange{
    background-color: orange;
}

.flash{
    background-color: antiquewhite;
}